/*
General hip visuals
*/

html {
/*  background: url("<?php echo get_template_directory_uri(); ?>/library/images/background.png") repeat center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Source Sans Pro', 'Lato', 'Open Sans', sans-serif;
  color: #333;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both
}

a:link {
  text-decoration: none;
  cursor: auto;
}

a:visted {
  text-decoration: none;
  cursor: auto;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

a:active {
  text-decoration: none;
  cursor: auto;
}

/*
Container
*/

.container {
  margin-top: 0px;
}

/*
Fixes img and video content width. also fixes image align
*/

.entry-content img {
  margin:0 0 1.5em 0;
  max-width:100%;
  height:auto;
}

.entry-content video,
.entry-content object {
  max-width: 100%;
  height: auto
}

/* disables funny bootstrap carousel background */
.carousel-control.left, .carousel-control.right {
  background-image: none
}

/*
Fixes gallery to display 5 in a column
*/

.gallery {
  margin: auto;
}

.gallery-item {
  padding: 2px;
}

.gallery-caption {
  font-size: 10px;
}

.gallery a img {
  /* remove grey border around images */
  border: 0 !important;
}

/*
Search Form
*/

.zen_searchform {
  padding-bottom: 10px;
}

/*
Customisation
*/

@media screen {
  /*
  CSS for all : bootstrap large devices desktop : default larger screen
  */

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 150%;
  }

  p, pre, blockquote{
    font-size: 20px;
  }

  pre {
    /* auto line breaks converting \n to <br> */
    white-space: pre;
  }

  .container {
    margin-top: 30px;
    max-width: 980px;
  }

  .texttitle {
    font-size: 28px;
    font-weight: bold;
    color: black;
  }

  .textsubtitle {
    font-size: 25px;
    font-weight: bold;
    color: black;
  }

  .textsubsubtitle {
    font-size: 20px;
    font-weight: bold;
    color: black;
  }

  .text {
    font-size: 20px;
  }

  .texttiny {
    font-size: 12px;
  }

  .bold {
    font-weight: bolder;
  }

  .italic {
    font-style: italic;
  }

  /*
  WordPress components
  */

  .comment-form * {
    font-size: 12px;
  }

  .comment-list * {
    font-size: 12px;
  }

  .comment-form-comment textarea, label {
    /* vertical-align: top; */
    display: block; /* make the comment: to be above text area. */
    width: 100%;
  }

  .akismet_comment_form_privacy_notice {
    font-size: 12px;
  }

}

@media screen and (max-width: 768px) {
  /*
  CSS for tablet and mobiles : bootstrap extra small devices desktop
  : leave empty if same as above larger screen
  */
  .container {
    margin-top: 10px;
    padding: 0px 10px;
  }

/* additional CSS styles for editor */

}
body#tinymce.wp-editor { 
    font-family: Arial, Helvetica, sans-serif; 
    margin: 10px; 
}
 
body#tinymce.wp-editor a {
    color: #4CA6CF;
}
