/*
General hip visuals
*/

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

html {
  background: url("<?php echo get_template_directory_uri(); ?>/library/images/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,h2,h3,h4,h5,h6,p,ul,ol,li{
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

p,ul,ol,li{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

/*
Fixes img and video content width. also fixes image align
*/

.entry-content img{margin:0 0 1.5em 0;max-width:100%;height:auto}
.entry-content video,.entry-content object{max-width:100%;height:auto}
img.aligncenter{margin-right:auto;margin-left:auto;display:block;clear:both}

.article-header a:hover{text-decoration:none;}
.article-footer-nav a:hover{text-decoration:none;}

.current_page_item {color:yellow;}

/*
Fixes gallery to display 5 in a column
*/

.gallery {
  margin: auto;
}
.gallery-item {
  float: left;
  margin-top: 10px;
  text-align: center;
  width: 20%;
}
.gallery img {
  border: 2px solid #cfcfcf;
}
.gallery-caption {
  margin-left: 0;
}

/*
Customisation
*/

.bggrey {
  background-color: #EEE;
}